#header
{
	background-color: #FFFFFF;
	text-align: center;
	font-size-30px;
	height: 100px;
	font-weight: bold;
	
}

#heading
{
	position: relative;
	top: -50px;
	text-decoration: underline;
}

body
{
	background-color: #FFFFFF;
}
#list
{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#footer
{
	background-color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	position: fixed;
	bottom: -50px;
	right: 0px;
	left: 0px;
}
a:link
{
	color:#E91B0E;
}
a:HOVER
{
	color:#E1E415;
	text-decoration: none;
	
}